.contentOpenWidth {
    position: relative;
    height: 0vh;
    width: 100%;
    overflow: hidden;
    margin: 0% 0%;
    transition: 2s;
    cursor: pointer;
}

.actionOpenWidth:hover > .contentOpenWidth {
    position: relative;
    height: 500px;
    width: 100%;
    overflow: hidden;
    margin: 5% 0%;
    transition: 1s;
}

.navLayoutDisplay {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-top: 1px solid deeppink;
    padding: 2%;
}

.portfolioBlocksDisplay {
    width: 100%;
    height: 550px;
    padding: 10px 0;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid deeppink;
}

.polygonClipRhomboid {
    -webkit-clip-path: polygon(0% 100%, 30% 0%, 100% 0%, 70% 100%);
    clip-path: polygon(0% 100%, 30% 0%, 100% 0%, 70% 100%);
    margin: 5% 0;
    width: 100%;
    height: 450px;
    transition: 1s;
}

.polygonClipRhomboid:hover {
    -webkit-clip-path: polygon(0% 100%, 30% 0%, 100% 0%, 70% 100%);
    clip-path: polygon(0% 100%, 30% 0%, 100% 0%, 70% 100%);
    margin: 5% 0;
    width: 300%;
    height: 450px;
    transition: 2s;
}

.expandImageDisplaying {
    height: 100%;
    width: 100%;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: 'IBM Plex Serif', serif;
}