.contentOpenWidth {
    position: relative;
    height: 0vh;
    width: 100%;
    overflow: hidden;
    margin: 0% 0%;
    transition: 2s;
    cursor: pointer;
}

.actionOpenWidth:hover > .contentOpenWidth {
    position: relative;
    height: 500px;
    width: 100%;
    overflow: hidden;
    margin: 5% 0%;
    transition: 1s;
}